{% extends "auctions/layout.html" %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center py-1 message-container">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Profile panel -->
    <div class="listings-panel animated slideInDown border mt-5">
        <!-- Personal info -->
        <div><h2>{{ category | title }} category listings</h2></div>
        <hr>

        {% if listings %}

            {% for listing in listings %}

                {% if not listing.winner and listing.active == 1 %}

                    <a class="text-dark" style="text-decoration: none;" href="{% url 'single_listing_view' listing.id %}">
                    <div class="pb-3">
                        <div class="card description-hover" style="border-radius: 0; background-color: #E4E8EA;">
                            <div class="row">
                                <div class="col-3">
                                    <div class="container-image" style="background-image: url({{ listing.photo.url }}); background-size: cover; background-position: center; overflow: hidden;"></div>
                                </div>    
                                <div class="col">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h4 class="card-title">{{ listing.title }}</h4>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="description-show-hide">
                                            <div class="row">
                                                <div class="col">
                                                    <div id="descriptionOutput">
                                                        {{ listing.description }}
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-input-label" for="startingPriceOutput">CURRENT PRICE</label>
                                                <div id="startingPriceOutput">
                                                    <h5>${{ listing.current_price }}0</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <small>ADDED: {{ listing.date_added }}</small>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>

                        </div>
                    </div>
                    </a>
                
                {% endif %}

            {% endfor %}

        {% else %}
        Unfortunatelly, there's no listings in this category yet.
        {% endif %}

    </div>

{% endblock %}