{% extends "auctions/layout.html" %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center py-1 message-container">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Profile panel -->
    <div class="login-panel animated slideInDown border mt-5">
        <!-- Personal info -->
        <div><h2>Categories</h2></div>
        <hr>
        {% for category in categories %}
        <div class="row pb-3">
            <div class="col">
                <form action="{% url 'browse_listings_category' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="category_id" value={{ category.id }} hidden>
                    <button type="submit" class="btn btn-secondary button-custom-secondary btn-block" style="font-size: 1.5rem;"><strong>{{ category }}</strong></button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}