{% extends "auctions/layout.html" %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center py-1 message-container">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Profile panel -->
    <div class="login-panel animated slideInDown border mt-5">
        <!-- Personal info -->
        <div><h2>Categories</h2></div>
        <hr>
        {% for category in categories %}
        <div class="row pb-3">
            <div class="col">
                <a href="{% url 'categories_view' %}" role="button" class="btn btn-secondary button-custom-secondary btn-block" style="font-size: 1.5rem;">{{ category }}</a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}