{% extends "auctions/layout.html" %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center py-1 message-container">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="login-panel animated slideInDown border mt-5">
        <h2>Change password</h2>
        <hr>
        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <div class="pb-2">
                <label class="form-input-label" for="newPasswordInput">NEW PASSWORD</label>
                <input autofocus class="form-control form-input-custom" type="password" id="newPasswordInput" name="new_password" placeholder="New password">
            </div>
            <div class="pb-2">
                <label class="form-input-label" for="newPasswordConfirmationInput">CONFIRM NEW PASSWORD</label>
                <input autofocus class="form-control form-input-custom" type="password" id="newPasswordConfirmationInput" name="new_password_confirmation" placeholder="Confirm new password">
            </div>
            <hr>
            <div class="pb-3">
                <label class="form-input-label" for="passwordInput">CURRENT PASSWORD</label>
                <input class="form-control form-input-custom" type="password" id="passwordInput" name="password" placeholder="Current password">
            </div>
            <div class="pb-3">
                <label class="form-input-label" for="passwordConfirmationInput">CONFIRM CURRENT PASSWORD</label>
                <input class="form-control form-input-custom" type="password" id="passwordConfirmationInput" name="password_confirmation" placeholder="Confirm current password">
            </div>
            <input class="btn btn-info button-custom" type="submit" value="Change password">
        </form>
    </div>

{% endblock %}