{% extends "auctions/layout.html" %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center py-1 message-container">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Profile panel -->
    <div class="listings-panel animated slideInDown border mt-5">
        <!-- Personal info -->
        <div><h2>My listings</h2></div>
        <hr>

        {% for listing in listings %}
        <div class="pb-3">
            <div class="card" style="border-radius: 0; background-color: #E4E8EA;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">{{ listing.title }}</h4>
                        </div>
                        
                        {% if not listing.winner %}

                            <!-- Stop auction button -->
                            <div class="col-1">
                                <form action="{% url 'listing_end' %}" method="POST">
                                    {% csrf_token %}
                                    <input name="listing_id" value="{{ listing.id }}" hidden>
                                    <button type="submit" class="btn btn-info button-custom btn-block"><i class="fas fa-stop"></i></button>
                                </form>
                            </div>
                            <!-- Suspend/Activate button -->
                            <div class="col-1">
                                {% if listing.active == 1 %}
                                <form action="{% url 'listing_deactivate' %}" method="POST">
                                    {% csrf_token %}
                                    <input name="listing_id" value="{{ listing.id }}" hidden>
                                    <button type="submit" class="btn btn-info button-custom btn-block"><i class="fas fa-pause"></i></button>
                                </form>
                                {% else %}
                                <form action="{% url 'listing_activate' %}" method="POST">
                                    {% csrf_token %}
                                    <input name="listing_id" value="{{ listing.id }}" hidden>
                                    <button type="submit" class="btn btn-info button-custom btn-block"><i class="fas fa-play"></i></button>
                                </form>
                                {% endif %}
                            </div>
                            <!-- Edit button -->
                            <div class="col-1">
                                <a href="{% url 'change_password' %}" role="button" class="btn btn-info button-custom btn-block"><i class="fas fa-edit"></i></a>
                            </div>

                        {% else %}

                            <!-- Information that aution already has a winner -->
                            <div class="col-4">
                                <div class="pt-2" style="color: #419281;" id="winnerOutput"><strong>ITEM SOLD - BUYER: {{ listing.get_winner_username }}</strong></div>
                            </div>

                        {% endif %}

                        <!-- Delete button -->
                        <div class="col-1">
                            <form action="{% url 'listing_delete' %}" method="POST">
                                {% csrf_token %}
                                <input name="listing_id" value={{ listing.id }} hidden>
                                <button type="submit" class="btn btn-info button-custom btn-block"><i class="fas fa-times"></i></button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <label class="form-input-label" for="startingPriceOutput">STARTING PRICE</label>
                            <div id="startingPriceOutput">
                                <h5>${{ listing.starting_price }}0</h5>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-input-label" for="currentPriceOutput">CURRENT PRICE</label>
                            <div id="currentPriceOutput">
                                <h5>${{ listing.current_price }}0</h5>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-input-label" for="categoryOutput">CATEGORY</label>
                            <div id="categoryOutput">
                                <h5>
                                {% for category in categories %}
                                    {% if category.id == listing.category_id %}
                                        {{category.name}}
                                    {% endif %}
                                {% endfor %}
                                </h5>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-input-label" for="statusOutput">STATUS</label>
                            <div id="statusOutput">
                                <h5>{{ listing.get_status|title }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small>ADDED: {{ listing.date_added }}</small>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        
        {% endfor %}

    </div>

{% endblock %}