{% extends "auctions/layout.html" %}

<!-- Messages -->
{% block message %}
    {% if messages %}
    <div class="col text-center py-1">
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="login-panel animated slideInDown border mt-5">
        <h2 class="pb-3">Sing In</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="pb-2">
                <label class="form-input-label" for="usernameInput">USERNAME</label>
                <input autofocus class="form-control form-input-custom" type="text" id="usernameInput" name="username" placeholder="Username">
            </div>
            <div class="pb-3">
                <label class="form-input-label" for="passwordInput">PASSWORD</label>
                <input class="form-control form-input-custom" type="password" id="passwordInput" name="password" placeholder="Password">
            </div>
            <input class="btn btn-info button-custom" type="submit" value="Sign In">
        </form>
        <hr>
        Don't have an account? <a class="text-info" href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}